body
{
    background-color: rgb(82, 82, 82);
    margin-left: auto;
    margin-right: auto;
}

#box
{
    height: 1000px;


}


#top
{
    height: 230px;
    margin-top: 1px;
    background: url("Img/top.png");
    background-size:cover; 
}
#title
{
    height: 80px;
    color: gold ;
    text-align: center;
    font-size: 55px;
    font-family: 'Potta One', cursive;
    text-shadow: 3px 3px rgb(0, 0, 0);
    letter-spacing: 20px;
}

#secondtitle
{
    font-size: 50px;
    color: gold ;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    text-shadow: 3px 3px rgb(0, 0, 0);
    letter-spacing: 5px;
}

#nav
{
    background-color: rgb(128, 125, 125);
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

ol
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    line-height: 170%;
    font-size: 40px;
    color: gold ;
    font-family: 'Patrick Hand', cursive;
    text-shadow: 2px 2px rgb(0, 0, 0);
    display: inline-block;

}

button
{
    font-size: 35px;
    color: rgb(179, 152, 2);
    text-shadow: 2px 2px rgb(0, 0, 0); ;
    border-radius: 20px;
    font-family: 'Patrick Hand', cursive;



}

ol > li
{
    width: 320px;
    height: 70px;
    float: left;
    border-right: 3px  dotted rgb(0, 0, 0);
}

ol > li:first-child
{
    border-left: 3px  dotted rgb(0, 0, 0); ;
}

#content
{
    clear: both;
}